<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dBServer" value="crypto-watcher-db.mysql.database.azure.com"/>
    <add key="dBDatabase" value="crypto_watcher_db"/>
    <add key="dBUserID" value="cryBur0_a@crypto-watcher-db"/>
    <add key="dBPassword" value="Gschacht#!"/>
    <add key="cryptoCurrencyApiKey" value="c9f25aa5d03a902d1674bfc07580dcf46b04168ac9c461156175423e71b268e3"/>
  </appSettings>
</configuration>